services:
  db:
    image: postgres:16-alpine
    container_name: domus-db
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  db-test:
    image: postgres:16-alpine
    container_name: domus-db-test
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: domus_test
    volumes:
      - db_test_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
volumes:
    db_data:
    db_test_data:
